In [5]:
interest = 0.887
print(format(interest, ".2f"))

0.89

## 리스트 변수

1. 리스트 선언
     - 리스트 변수 = [ ]
     - 리스트 변수 = list()
     - 리스트 변수 = [데이터1, 데이터2 ...]
2. 리스트 추가
     - 리스트 변수.append(데이터)
     - 리스트 변수.insert(인덱스번호, 데이터)
3. 리스트 삭제
     - 리스트 변수.remove(데이터)
     - del 리스트 변수[인덱스번호]
4. 리스트 데이터 수정
     - 리스트 변수[인덱스번호] = 수정할 데이터

## 반복문
for data in 리스트변수:
    실행코드
    
for data in range(반복횟수):
    실행코드

## 데이터 구조
- 데이터 구조: 리스트, 튜플, 딕셔너리, 집합

## 튜플
- 선언 + 입력: 변수명=(1,2,3...)
- 읽기: 변수명[인덱스번호]
- 추가: 불가
- 삭제: 불가
- 수정: 불가

주로 리턴값 형식으로 사용되거나 변수의 값을 교환할때 사용된다

In [15]:
def mul_return(a):
    b = a + 1
    return a, b    ## 튜플 형식으로 두개이상의 결과값 리턴 가능
a ,b = mul_return(1)
print("a = ",a,", b = ",b)

a =  1 , b =  2

In [9]:
data = (1, 2, 3)
type(data)

tuple

In [10]:
data

(1, 2, 3)

In [16]:
x = 1
y = 2
x, y = y, x
print(x, y)

2 1

## 딕셔너리
- 선언 + 입력: 변수명 = {키:값, 카:값, ...} 또는 dict()
- 읽기: 변수명[키]
- 추가: 변수명[새로운키] = 새로운값
- 삭제: del 변수명[삭제할키]
- 수정: 변수명[수정할키] = 수정할값 // 키값은 수정하기보다는 기존키삭제후 키 추가

In [53]:
data_dict = {'일본':'JPN','중국':'CHN'}
data_dict['미국'] = 'USA'

In [55]:
# 주로 이런식으로 키값을 전체 읽어와서 조건문을 안에 넣는식으로 사용됨
for key in data_dict.keys():
    if key == '미국':
        print(data_dict[key])

USA

## 집합 (SET) : 순서없음, 중복없음
- 선언 + 입력: 변수명 = set() 또는 변수명 = {데이터1, 데이터2, ...} 또는
  변수명 = SET(데이터1) 또는 변수명 = set({데이터1, 데이터2, ...})
- 읽기: 인덱스 사용불가 for문으로 전체 읽어야함
- 추가: 변수명.add(한개의데이터) 또는 변수명.update([두개이상의데이터]) 
- 삭제: 변수명.remove()
- 수정:

In [ ]:
data_list = list() # []
data_tuple = tuple() # ()
data_dict = dict() # {}
data_set = set()

In [41]:
data_set = {'apple', 'dell', 'samsung', 'lg'}

In [42]:
# 주로 list안에 데이터 중복제거시 사용되거나 집합연산시 사용됨
data_set = ['apple', 'dell', 'samsung', 'lg','apple', 'dell', 'samsung', 'lg']
data = set(data_set) # 중복제거
list(data)

['apple', 'dell', 'lg', 'samsung']

In [43]:
'sony' in data_set

False

In [44]:
if 'apple' in data_set:
    print(data_set)

['apple', 'dell', 'samsung', 'lg', 'apple', 'dell', 'samsung', 'lg']

In [45]:
data1 = {'apple', 'samsung', 'lg'}
data2 = {'samsung', 'lg', 'xiaomi'}

In [46]:
data1 & data2 # 교집합

{'lg', 'samsung'}

In [47]:
data1 - data2 # 차집합

{'apple'}

In [48]:
data1 | data2 # 합집합

{'apple', 'lg', 'samsung', 'xiaomi'}

In [49]:
data1 ^ data2 # 한쪽집합에만 해당하는 값

{'apple', 'xiaomi'}